@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.profile-page {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffaf0;
    padding: 20px;
}
.profile-card {
    background-color: #fef8e8;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.profile-banner {
    height: 270px;
    background: url('../../../public/images/avatars/background.png') no-repeat center/cover;
    border-radius: 10px;
}

.profile-info-section {
    display: flex;
    align-items: center;
    margin-top: -100px;
    margin-left: 12px;
}

.profile-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-main {
    margin-left: 20px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 72px;
}
.profile-main h3{

}

.edit-button {
    margin-top: 5px;
    background-color: #fcd768;
    border: none;
    padding: 16px 23px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #776935;
    display: flex;
    align-items: center;
    gap: 12px;
}
.edit-button:hover{
    background-color: #fcd768;
}

.profile-stats {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.progress-block {
    background-color: #cba8e1;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.progress-circle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

.pet-block {
    background-color: #bfe0a5;
    border-radius: 15px;
    padding: 10px;
    width: 400px;
    text-align: center;
}

.pet-title {
    font-weight: 600;
}

.pet-emotions {
    margin: 10px 0;
    font-size: 18px;
}

.pet-avatar img {
    width: 50px;
    height: auto;
}

.pet-status {
    font-weight: bold;
    background-color: #9effa8;
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px;
}