.day-view-container {
    width: 100%;
    background-color: #fffaed;
    padding: 12px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day-timeline {
    border: 1px solid #ececec;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 500px;
    /* Або будь-яка зручна висота */
    padding-right: 4px;
}
.day-view-container h3 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.1rem;
}

/* Рядок для кожної години */
.day-hour-row {
    display: flex;
    min-height: 40px;
    align-items: center;
}

.day-hour-row:last-child {
    border-bottom: none;
}

/* Лейбл години */
.day-hour-label {
    width: 60px;
    text-align: right;
    padding: 4px;
    font-size: 0.8rem;
    color: #666;
}

/* Контент для подій у поточній годині */
.day-hour-content {
    flex: 1;
    padding: 4px;
    position: relative;
}

/* Блок події */
.day-event-block {
    background-color: #B7C8F3;
    min-height: 30px;
    color: #fff;
    border-radius: 4px;
    font-size: 0.75rem;
    border-radius: 12px;
    padding: 6px 12px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.today-time{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.08em;
    color: #24418A;
}
.today-title{
    font-weight: 600;
    font-size: 14px;
    color: #24418A;
}

.add-event-button {
    background-color: #121212;
    color: #FAF4E4;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 30%;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.add-event-button:hover {
    background-color: rgb(39, 49, 78);
}