.pet-name-container{
    display: flex;
    align-items: center;
    background-color: #fefcf5;
    padding: 8px 14px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #6c5624;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    gap: 8px;
    width: 465px;
    justify-content: center;
}
.pet-name-editor {
    display: flex;
    align-items: center;
    background-color: #c7d7f3;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
    color: #24418a;
}

.name-display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.edit-btn,
.save-btn {
    background-color: transparent;
    background-color: #c7d7f3;
    border: none;
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
    height: 32px;
    width: auto;
}

.name-input {
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 16px;
    flex-grow: 1;
    background-color: #c7d7f3;
    text-align: center;
}